
  <title>Auto Self Help Posts</title>

<div class="posts list-group">

  {{#each posts}}
  
     <h2>
    <a class="list-item text-center" href="/post/{{id}}">
     {{subject}}
     </h2>
    </a>
  {{/each}}
  
</div>