
  <title>Auto Self Help All Posts</title>

<div class="posts list-group">
  {{!-- <div class="p-3 mb-2 bg-danger-subtle text-emphasis-danger"> --}}
  {{#each posts}}
      {{!-- <input id="input-id" type="text" class="rating" data-size="lg" > --}}
     <h2>
    <a class="list-item text-center" href="/posts/{{id}}">
     {{subject}}
     </h2>
    </a>
  {{/each}}
  
    {{!-- </div> --}}
</div>