<div class="text-center">
  <h4>Welcome! Please log in to continue</h4>
</div>

<body>
  <form id="login-form">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">User Name</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter usename">
    </div>
    <br>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Password</label>
      <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Enter password">
    </div>
    <br>
    <button id="login-btn" class="btn btn-info" type="submit"> SUBMIT</button>
  </form>

  <!-- <script src=""></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>

</body>
<script src="/js/login.js"> </script>