<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UFT-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./public/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>Auto Self Help</title>

  <div class="card text-center">
    <h1>Auto Self Help</h1>
  </div>
</head>

<body>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">User Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter usename">
  </div>
  <br>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Password</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter password">
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button">Log In</button>
  </div>

  <!-- <script src=""></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>



</html>