
<title>Auto Self Help</title>

  <div class="text-center">
    <h4>Welcome! Please log in to continue</h4>
  </div>


<body>
  <div class="mb-3">
    <label for="userInput" class="form-label">User Name</label>
    <input type="text" class="form-control" id="userInput" placeholder="Enter usename">
  </div>
  <br>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Enter password">
  </div>


  <br>
  <div class="d-grid gap-2">
    <a href="/login" id="login" class="btn btn-info" type="submit">Log In</a>
  </div>

</body> 

<script src="/js/login.js"></script>