<div class="row">
  <div class="">
    <form id="new-post-form" class="new-post-form">
      <label for="post-subject"> subject : </label>
      <input type="text" name="post-subject" />

      <label for="post-description"> description : </label>
      <input type="text" name="post-description" />

      <label for="post-year"> year : </label>
      <input type="text" name="post-year" />

      <label for="post-make"> make : </label>
      <input type="text" name="post-make" />
      
      <label for="post-model"> model : </label>
      <input type="text" name="post-model" />

      <input type="submit" class="btn btn-success" value="Create">

    </form>
  </div>
</div>

<script src="/js/post.js"></script>

{{!-- SUBJECT, DESCRIPTION, YEAR, MAKE, MODEL --}}