<div class="p-3 mb-2 bg-warning-subtle text-emphasis-warning">
<div class="card-header">
    <h2>Enter the information for your post below</h2>
  </div>
<div class="row">
  <div class="">
    <form id="new-post-form" class="new-post-form">
<div class="text-bg-info p-3">

  <div class="mb-3">
  <label  class="form-label" for="post-subject">Title</label>
  <input type="text" class="form-control" placeholder="Enter a title for your issue" name="post-subject">
</div>

  <div class="mb-3">
  <label  class="form-label" for="post-description">Description</label>
  <input type="text" class="form-control" placeholder="Enter a description of your issue" name="post-description">
</div>

<div class="mb-3">
  <label class="form-label" for="post-year">Year</label>
  <input type="text" class="form-control" placeholder="What year is the vehicle?" name="post-year">
</div>
<div class="mb-3">
  <label  class="form-label" for="post-make">Make</label>
  <input type="text" class="form-control"  placeholder="What's the make of the vehicle?" name="post-make">
</div>
<div class="mb-3">
  <label class="form-label" for="post-model">Model</label>
  <input type="text" class="form-control" placeholder="What model is your vehicle?" name="post-model">
</div>


</div>

<br>
    <div class="d-grid gap-2">
      <input type="submit" class="btn btn-success justify-content-center" value="Create">
    </div>
    </form>
  </div>
</div>
</div>

<script src="/js/post.js"></script>

