
  <title>Auto Self Help</title>

    <h1>Auto Self Help</h1>



  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label text-center">Find a post!</label>
    <br>
    <input type="text" class="form-control" id="searchPosts" placeholder="search our database for posts!">
  </div>
  <br>
  <div class="d-grid gap-2">
    <button class="btn btn-info" type="button">Search</button>
  </div>




</body>

