<div class="col-md-6">

  <body>
    <div class="p-3 mb-2 bg-dark-subtle text-emphasis-dark">
     
    <h2>Don't have a login? Sign up below</h2>
    <form id="signup-form">
      <div class="nameSignup">
        <label for="signup-name">Name:</label>
        <input class="form-control" type="text" id="name" placeholder="Enter your name here" />
      </div>

      <div>
        <label for="emailSignup">Email:</label>
        <input type="text" class="form-control" id="newEmail" placeholder="Enter email here">
      </div>

      <div>
        <label for="newPassword">Enter a password</label>
        <input class="form-control" type="password" id="newPassword" placeholder="Enter your new password here" />
      </div>
      <br>

      <div class="d-grid gap-2">
        {{!-- <a href="/signup"> --}}
          <button id="signup" class="btn btn-info" type="submit">Sign Up</button>
        {{!-- </a> --}}
      </div>
      </form>


      <div>
        <h2>Need a random password?</h2>
        <p id="random-password"></p>
        <button id="generate">Generate a Password</button>
      </div>
    
</div>

</body>

<script src="/js/signup.js"></script>