#login {
  max-width: 50px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: bisque;
}

.header {
  background-color: azure;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
}